*{
    margin: 0;
    padding: 0;
}
header {
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    padding:15px;
    background: crimson;
    text-align: center;
    z-index: 100;
    left: 0;
    top: 0;
    float: left;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
header .logo{
    text-transform: capitalize;
    padding:10px 50px;
    text-align: left;
    float: left;
}
header .logo h1{
    font-size: 35px;
    font-weight: 900;
    color: white;
}
header nav{
    text-align: right;
    flex: 1;
}
header nav ul{
    list-style-type: none;
    font-size: 15px;
    float: right;
}
header nav ul li{
   display: inline-block;
   padding: 0 10px;
}
header nav ul li a{
    text-decoration: none;
    color: white;
    position: relative;
    display: inline-block;
    font-size: 18px;
    text-transform:capitalize;
}
header nav ul li a::before{
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    width:0;
    height: 4px;
    background-color:gray;
    transition:all 0.5s linear;
}
header nav ul li a:hover::before{
    width: 100%;
}
#menu-btn{
    padding: 5px;
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
    width: 25px;
    height: 20px;
    background-color: white;
    text-align: center;
    font-size: 20px;
}
/*main section */
.main{
    float: left;
    width: 100%;
}
/* home page */
section{
    margin: 0;
    overflow: hidden;
}
.main .home{
    display:flex;
    height: 100vh;
    min-height: 500px;
    color: white;
    background-image: url(..//img/wp3422198.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 5s;
    animation-name: animate;
    animation-direction: alternate-reverse;
    animation-duration:30s ;
    animation-fill-mode:forwards ;
    animation-iteration-count:infinite ;
    animation-play-state: running;
    animation-timing-function:ease-in-out ;
    position: relative;
}
@keyframes animate{
    0%{
        background-image: url(..//img/wp3422198.jpg);
    }
    20%{
        background-image: url(..//img/W5P9jg.jpg);
    }
    40%{
        background-image: url(..//img/6257508.jpg);
    }
    60%{
        background-image: url(..//img/photo-1506901437675-cde80ff9c746.jpg);
    }
    80%{
        background-image: url(..//img/52582632-beautiful-young-lady-with-make-up-face-close-up-of-an-attractive-girl-of-european-appearance-on-dark.jpg);
    }
    100%{
        background-image: url(..//img/pexels-photo-4491469.jpeg);
}
}
.main .home .homebox{
   position: absolute;
   top: 38%;
   left: 22%;
}
.main .home .homebox .home-content .text-1{
    font-size: 27px;
    text-transform: capitalize;
}
.main .home .homebox .home-content .text-2{
    font-size: 65px;
    font-weight: 600;
    margin-left: -3px;
    text-transform: capitalize;
}
.main .home .homebox .home-content .text-3{
    font-size: 30px;
    margin: 5px 0;
    text-transform: capitalize;
}
.main .home .homebox .home-content .text-3 span{
    color: crimson;
    font-weight: 500;
}
.main .home .homebox .home-content button{
    display: inline-block;
    background: crimson;
    color: white;
    font-size: 20px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
    text-transform: capitalize;
    text-decoration: none;
}
.main .home .homebox .home-content button a{
   text-decoration: none;
   color: white;
}
.main .home .homebox .home-content button:hover{
    color: crimson;
    background: none;
}
.main .home .homebox .home-content .icon{
    height: 50px;
    margin: 10px;
    text-align:left;
}
.main .home .homebox  .home-content .icon a{
    text-decoration: none;
    color: white;
}
.main .home .homebox  .home-content .icon i{
    font-size: 25px;
    padding: 10px 10px;
}
.main .home .homebox  .home-content .icon i:hover{
    border-radius: 50%;
    background: crimson;
    transition: all 0.3s linear;
    transition: all 0.3s initial
}
/* about section */
.main .about{
    background: rgba(240, 128, 128, 0.164);
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    flex-flow: column;
    padding: 100px 0;
}
.main .about .abouttext{
    text-align: center;
    padding-bottom: 30px;
}
.main .about .abouttext h1{
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    text-transform: capitalize;
    color: crimson;
    position: relative;
}
.main .about .abouttext h1::before{
    content: '';
    position: absolute;
    left: 50%;
    top: 100%;
    width:0;
    height: 4px;
    background-color:gray;
    transition:all 0.5s linear;
}
.main .about .abouttext h1:hover:before{
    width: 100%;
    left: 0;
}
.main .about .aboutcontainer{
    width: 80%;
    margin: auto;
}
.main .about .aboutcontainer .aboutrow{
    width: 100%;
    clear: both;
    margin-top: 10px;
}
.main .about .aboutcontainer .aboutrow .aboutbox{
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding: 10px;
}  
.main .about .aboutcontainer .aboutrow .aboutbox .aboutsubbox{
    text-align: center;
    padding: 10px;
    border-radius: 6px;
} 
.main .about .aboutcontainer .aboutrow .aboutbox .aboutsubbox img{
    width: 100%;
    height: 350px;
}
.main .about .aboutcontainer .aboutrow .aboutbox .aboutsubbox p{
    font-size: 18px;
    text-align: justify;
    font-weight: 500;
    padding: 10px;
    color: gray;
    text-transform: capitalize;
}
.main .about .aboutcontainer .aboutrow .aboutbox .aboutsubbox .about-left{
    width: 45%;
    float: left;
    padding: 5px;
    margin: 5px;
    text-transform: capitalize;
    color: gray;
}
.main .about .aboutcontainer .aboutrow .aboutbox .aboutsubbox .about-left h6{
    font-size: 16px;
    text-align: left;
    padding:10px;
}
.main .about .aboutcontainer .aboutrow .aboutbox .aboutsubbox .about-right{
    width: 45%;
    float: left;
    padding: 5px;
    text-transform: capitalize;
    color: gray;
}
.main .about .aboutcontainer .aboutrow .aboutbox .aboutsubbox .about-right h6{
    font-size: 16px;
    padding: 10px;
    text-align: left;
}
/* education */
.main .education{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    flex-flow: column;
    padding: 100px 0;
    background: rgba(240, 128, 128, 0.164);
}
.main .education .educationtext{
    text-align: center;
    padding-bottom: 30px;
}
.main .education .educationtext h1{
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    text-transform: capitalize;
    color: crimson;
    position: relative;
}
.main .education .educationtext h1::before{
    content: '';
    position: absolute;
    left: 50%;
    top: 100%;
    width:0;
    height: 4px;
    background-color:gray;
    transition:all 0.5s linear;
}
.main .education .educationtext h1:hover:before{
    width: 100%;
    left: 0;
}
.main .education .educationcontainer{
    width: 80%;
    margin: auto;
    border-left: 2px solid rgba(128, 128, 128, 0.158);
    position: relative;
}
.main .education .educationcontainer .educationrow{
    width: 100%;
    clear: both;
    margin-top: 10px;
}
.main .education .educationcontainer .educationrow .educationbox{
    width: 100%;
    float: left;
    box-sizing: border-box;
    padding:10px;
    position: relative;
}
.main .education .educationcontainer .educationrow .educationbox::before{
    content: '';
    display: inline-block;
    position: absolute;
    border: 2px solid #4a89dc;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    top: 60px;
    left: -54px;
    z-index: 1;
}
.main .education .educationcontainer .educationrow .educationbox::after{
    content: '';
    display: inline-block;
    position: absolute;
    background-color: #4a89dc;
    width: 63px;
    height: 2px;
    top: 64px;
    left: -42px;
    z-index: 1;
}
.main .education .educationcontainer .educationrow .educationbox .educationsubbox{
    text-align:left;
    width: 70%;
    height: 100px;
    border-radius: 6px;
    box-shadow: 0 0 7px crimson;
    padding: 20px;
    margin-left:13px;
    margin-bottom: 50px;    
    border-left: 5px solid #4a89dc;
    border-radius: 6px;
    color: gray;
}
.main .education .educationcontainer .educationrow .educationbox .educationsubbox h5{
   padding: 10px;
   font-size: 20px;
}
.main .education .educationcontainer .educationrow .educationbox .educationsubbox h6{
    padding: 10px;
}
.main .education .educationcontainer .educationrow .educationbox .educationsubbox h3{
    padding: 10px;
    text-transform: capitalize;
}
/* skills section */
.main .skills{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    flex-flow: column;
    padding: 100px 0;
    background: rgba(240, 128, 128, 0.164);
}
.main .skills .skillstext{
    text-align: center;
    padding-bottom: 30px;
}
.main .skills .skillstext h1{
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    text-transform: capitalize;
    color: crimson;
    position: relative;
}
.main .skills .skillstext h1::before{
    content: '';
    position: absolute;
    left: 50%;
    top: 100%;
    width:0;
    height: 4px;
    background-color:gray;
    transition:all 0.5s linear;
}
.main .skills .skillstext h1:hover:before{
    width: 100%;
    left: 0;
}
.main .skills .skillscontainer{
    width: 80%;
    margin: auto;
}
.main .skills .skillscontainer .skillsrow{
    width: 100%;
    clear: both;
    margin-top: 10px;
}
.main .skills .skillscontainer .skillsrow .skillsbox{
    width:50%;
    float: left;
    box-sizing: border-box;
    padding:10px;
}
.main .skills .skillscontainer .skillsrow .skillsbox .skillssubbox{
    text-align:center;
    overflow: auto;
    border-radius: 6px;
    box-shadow: 0 0 7px crimson;
    padding: 10px;
    color: gray;
}
.main .skills .skillscontainer .skillsrow .skillsbox .skillssubbox h3{
    font-size: 20px;
    margin: 10px;
    padding: 10px;
    text-align: left;
    text-transform: capitalize;
}
.main .skills .skillscontainer .skillsrow .skillsbox .skillssubbox .progressbar{
    width: 70%;
    height: 12px;
    background-color: lightgrey;
    margin: 10px;
    border-radius: 5px;
    overflow: hidden;
}
.main .skills .skillscontainer .skillsrow .skillsbox .skillssubbox .progressbar .html{
    width: 90%;
    height: 100%;
    background-color: blue;
    animation: color1 8s;
}
.main .skills .skillscontainer .skillsrow .skillsbox .skillssubbox .progressbar .css{
    width: 80%;
    height: 100%;
    background-color:crimson;
    animation: color1 8s;
}
.main .skills .skillscontainer .skillsrow .skillsbox .skillssubbox .progressbar .js{
    width: 60%;
    height: 100%;
    background-color:chocolate;
    animation: color1 8s;
}
@keyframes color1{
    0%{
        width: 0%;
    }
    100%{
        width: 75%;
    }
}
/* portfolio */
.main .portfolio{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    flex-flow: column;
    padding: 100px 0;
    background: rgba(240, 128, 128, 0.164);
}
.main .portfolio .portfoliotext{
    text-align: center;
    padding-bottom: 30px;
}
.main .portfolio .portfoliotext h1{
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    text-transform: capitalize;
    color: crimson;
    position: relative;
}
.main .portfolio .portfoliotext h1::before{
    content: '';
    position: absolute;
    left: 50%;
    top: 100%;
    width:0;
    height: 4px;
    transition:all 0.5s linear;
}
.main .portfolio .portfoliotext h1:hover:before{
    width: 100%;
    left: 0;
    background:gray;
}
.main .portfolio .gallary{
    min-height: 100vh;
    padding-bottom: 100px;
}
.main .portfolio .gallary .controls{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   padding: 20px 0;
   list-style-type: none;
}
.main .portfolio .gallary .controls .buttons{
   height: 20px;
   width: 100px;
   background: crimson;
   color: white;
   font-size: 20px;
   line-height: 20px;
   cursor: pointer;
   margin: 10px;
   padding: 10px;
   text-align: center;
   text-transform: capitalize;
}
.main .portfolio .gallary .controls .buttons.active{
    background: blue;
    color: white;
}
.main .portfolio .gallary .image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.main .portfolio .gallary .image-container .image{
    height: 250px;
    width: 350px;
    overflow: hidden;
    position: relative;
    border: 2px solid gray;
    margin: 20px;
}
.main .portfolio .gallary .image-container .image::before{
    content: '';
    width: 100%;
    height: 20%;
    position: absolute;
    bottom: -21%;
    background: crimson;
}
.main .portfolio .gallary .image-container .image:hover:before{
    bottom: 0;
    transition: 1s;
}
.main .portfolio .gallary .image-container .image img{
   width: 100%;
   height: 100%;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}
/* services section */
.main .services{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    flex-flow: column;
    padding: 100px 0;
    background: rgba(240, 128, 128, 0.164);
}
.main .services .servicestext{
    text-align: center;
    padding-bottom: 30px;
}
.main .services .servicestext h1{
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    text-transform: capitalize;
    color: crimson;
    position: relative;
}
.main .services .servicestext h1::before{
    content: '';
    position: absolute;
    left: 50%;
    top: 100%;
    width:0;
    height: 4px;
    transition:all 0.5s linear;
}
.main .services .servicestext h1:hover:before{
    width: 100%;
    left: 0;
    background:gray;
}
.main .services .servicescontainer{
    width: 80%;
    margin: auto;
}
.main .services .servicescontainer .servicesrow{
    width: 100%;
    clear: both;
    margin-top: 10px;
}
.main .services .servicescontainer .servicesrow .servicesbox{
    width: 33.333%;
    float: left;
    box-sizing: border-box;
    padding:10px;
}
.main .services .servicescontainer .servicesrow .servicesbox .servicessubbox{
    text-align: center;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
    color: gray;
}
.main .services .servicescontainer .servicesrow .servicesbox .servicessubbox::before{
    content: '';
    width:0%;
    height: 0%;
    position: absolute;
    left: 0;
    bottom: 0;
    border-bottom: 3px solid transparent;
    border-left:  3px solid transparent;
    box-sizing: border-box;
    transition: all 0.3s ease;
}
.main .services .servicescontainer .servicesrow .servicesbox .servicessubbox::after{
    content: '';
    width:0%;
    height: 0%;
    position: absolute;
    right: 0;
    top: 0;
    box-sizing: border-box;
    border-top: 3px solid transparent;
    border-right:  3px solid transparent;
}
.main .services .servicescontainer .servicesrow .servicesbox:hover  .servicessubbox::before{
    width: 100%;
    height: 100%;
    border-color:crimson;
}
.main .services .servicescontainer .servicesrow .servicesbox:hover  .servicessubbox::after{
    width: 100%;
    height: 100%;
    border-color:crimson;
} 
.main .services .servicescontainer .servicesrow .servicesbox .servicessubbox .header{
    margin:10px 0;
}
.main .services .servicescontainer .servicesrow .servicesbox .servicessubbox .header i{
    font-size: 30px;
    top: -100%;
    border-radius: 50%;
    padding: 15px;
    background:lightgray;
}
.main .services .servicescontainer .servicesrow .servicesbox:hover  .servicessubbox .header i{
    color: red;
}
.main .services .servicescontainer .servicesrow .servicesbox .servicessubbox .title{
    margin: 10px;
    text-transform: capitalize;
}
.main .services .servicescontainer .servicesrow .servicesbox .servicessubbox .footer{
    margin:10px;
}
/* contct */
.main .contact{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    flex-flow: column;
    padding: 100px 0;
    background: rgba(240, 128, 128, 0.164);
}
.main .contact .contacttext{
    text-align: center;
    padding-bottom: 30px;
}
.main .contact .contacttext h1{
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    text-transform: capitalize;
    color: crimson;
    position: relative;
}
.main .contact .contacttext h1::before{
    content: '';
    position: absolute;
    left: 50%;
    top: 100%;
    width:0;
    height: 4px;
    background-color:gray;
    transition:all 0.5s linear;
}
.main .contact .contacttext h1:hover:before{
    width: 100%;
    left: 0;
}
.main .contact .contactcontainer{
    width: 80%;
    margin: auto;
}
.main .contact .contactcontainer .contactrow{
    width: 100%;
    clear: both;
    margin-top: 10px;
}
.main .contact .contactcontainer .contactrow  .contactbox{
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding:10px;
}
.main .contact .contactcontainer .contactrow  .contactbox .contactsubbox{
    text-align: center;
    overflow: auto;
    padding: 10px;
}
.main .contact .contactcontainer .contactrow .contactbox .iconbar{
   width: 50px;
   height: 50px;
   line-height: 50px;
   font-size: 30px;
   border-radius: 50%;
   margin: 5px;
   padding: 5px;
   text-align: center;
   position:relative;
   z-index: 3;
   float: left;
   color:gray;
}
.main .contact .contactcontainer .contactrow .contactbox .iconbar:hover{
   background: crimson;
   transition: 1s;
}
.main .contact .contactcontainer .contactrow .contactbox .contacttext{
    overflow: hidden;
    position: absolute;
    left: 20%;
    margin: 10px;
    box-sizing: border-box;
    color: gray;
}
.main .contact .contactcontainer .contactrow .contactbox .contacttext h4{
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 0px;
    font-family: 'Rambla', sans-serif;
    text-align: left;
    text-transform: capitalize;
}
.main .contact .contactcontainer .contactrow .contactbox .contacttext h5{
    font-size: 16px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-family: 'Rambla', sans-serif;
    text-transform: capitalize;
}
.main .contact .contactcontainer .contactrow  .contactbox .contactsubbox .contactform{
    width: 80%;
    padding: 25px;
    background: white;
    text-transform: capitalize;
    border: 2px solid gray;
    border-radius: 6px;
}
.main .contact .contactcontainer .contactrow  .contactbox .contactsubbox .contactform h2{
    font-size: 25px;
    color: gray;
    font-weight: 500;
}
.main .contact .contactcontainer .contactrow  .contactbox .contactsubbox .contactform .inputbox{
   width: 100%;
   position: relative;
   margin-top: 10px;
}
.main .contact .contactcontainer .contactrow  .contactbox .contactsubbox .contactform .inputbox input,textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 1px solid gray;
    outline: none;
    resize: none;
}
.main .contact .contactcontainer .contactrow  .contactbox .contactsubbox .contactform .inputbox span{
    position:absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: black;
    text-transform: capitalize;
}
.main .contact .contactcontainer .contactrow  .contactbox .contactsubbox .contactform .inputbox input:focus ~ span,
.main .contact .contactcontainer .contactrow  .contactbox .contactsubbox .contactform .inputbox input:valid ~ span,
.main .contact .contactcontainer .contactrow  .contactbox .contactsubbox .contactform .inputbox textarea:focus ~ span,
.main .contact .contactcontainer .contactrow  .contactbox .contactsubbox .contactform .inputbox textarea:valid ~ span
{
    color:red;
    font-size: 12px;
    transform: translateY(-20px);
}
.main .contact .contactcontainer .contactrow  .contactbox .contactsubbox .contactform .inputbox input[type="submit"]{
   width: 100px;
   background: crimson;
   color: white;
   border: none;
   cursor: pointer;
   padding: 10px;
   font-size: 18px;
   border-radius: 6px;
   text-transform: capitalize;
}
.main .map{
    text-align: center;
    width: 100%;
}
.main .map img{
    width: 100%;
    height: 550px;
}
/* footer */
.main footer{
    width: 100%;
    height: 50px;
    padding: 10px 0;
    background: crimson;
    text-transform: capitalize;
}
.main footer h5{
   color: white;
   text-align: center;
   font-size: 15px;
   padding: 10px;
}





/* responsive */
/* mobile view */
@media screen and (max-width:426px){
header{
    display:inline-block;
    height: 100px;
}
header .logo{
    padding: 10px;
    float: left;
}
header nav ul {
    position: absolute;
    width: 100%;
    background: rgba(220, 20, 60, 0.432);
    top: 162%;
    left: -120%;
    text-align: center;
    transition: 1s;
    overflow: hidden;
}
header nav ul.show {
    left: -20px;
}
header nav ul li{
    display: block;
    padding: 14px;
}
#menu-btn{
    display: block;
    margin: 20px;
} 
/*home */
.main .home .homebox{
    top:39%;
    left: 17%;
}
.main .home .homebox  .home-content .text-2{
    font-size: 52px;
    margin: 5px 0;
}
.main .home .homebox .home-content .text-3{
    font-size: 23px;
    margin: 5px 0;
}
/* about section */
.main .about .aboutcontainer .aboutrow .aboutbox{
    width: 100%;
    padding: 6px;
}
.main .about .aboutcontainer .aboutrow .aboutbox .aboutsubbox .about-left{
    width:100%;
}
.main .about .aboutcontainer .aboutrow .aboutbox .aboutsubbox .about-right{
    width: 100%;
}
/* services */
.main .services .servicescontainer .servicesrow .servicesbox{
    width: 100%;
    padding: 6px;
}
/* skills */
.main .skills .skillscontainer .skillsrow .skillsbox{
    width: 100%;
}
/* education */
.main .education .educationcontainer .educationrow .educationbox{
    width: 100%;
    float: left;
    box-sizing: border-box;
    padding:10px;
}
.main .education .educationcontainer .educationrow .educationbox::before{
    top: 60px;
    left: -27px;
}
.main .education .educationcontainer .educationrow .educationbox::after{
    top: 64px;
    left: -15px;
    width: 38px;
    height: 2px;
}
.main .education .educationcontainer .educationrow .educationbox .educationsubbox h5{
    font-size: 15px;
    padding: 5px;
}
.main .education .educationcontainer .educationrow .educationbox .educationsubbox h6{
    padding:5px;
}
.main .education .educationcontainer .educationrow .educationbox .educationsubbox h3{
    padding: 5px;
}
/* portfolio */
.main .portfolio .gallary .image-container .image{
    width: 100%;
}

/* contact */
.main .contact .contactcontainer .contactrow  .contactbox{
    width: 100%;
}
.main .contact .contactcontainer .contactrow .contactbox .iconbar{
    font-size: 25px;
    margin: 5px;
    padding: 5px;
    left: -12%;
}
 .main .contact .contactcontainer .contactrow .contactbox .contacttext{
    left:31%;
}
.main .contact .contactcontainer .contactrow .contactbox .contacttext h4{
    text-align: left;
    font-size: 14px;
}
.main .contact .contactcontainer .contactrow .contactbox .contacttext h5{
    text-align: left;
    font-size: 14px;
}
}











/* tablet view */
@media screen and (max-width:768px){
/* home */
header .logo{
    float: left;
    padding: 10px;
}
header nav{
    padding: 10px;
}
/* about */
.main .about .aboutcontainer .aboutrow .aboutbox .aboutsubbox .about-left{
    width:100%;
}
.main .about .aboutcontainer .aboutrow .aboutbox .aboutsubbox .about-right{
    width:100%;
}
}