*{
    margin: 0;
    padding: 0;
}
header{ 
    background: crimson;
    padding: 10px;
    color: white;
    position: fixed;
    width: 100%;
    display: inline-flex;
    justify-content: space-evenly;
}
header .logo{
    text-transform: capitalize;
    /* display:inline-block; */
    padding:10px 50px;
}
header .logo h1{
    font-size: 35px;
    font-weight: 900;
    color: white;
}
header nav{
    float: right;
    padding: 10px 40px;
    text-transform: capitalize;
}
header nav ul{
    list-style-type: none;
    font-size: 20px;
}
header nav ul li{
   display: inline-block;
   padding: 0 20px;
}
header nav ul li a{
    text-decoration: none;
    color: white;
    position: relative;
}
header nav ul li a::before{
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    width:0;
    height: 2px;
    background-color:gray;
    transition:all 0.5s linear;
}
header nav ul li a:hover::before{
    width: 100%;
}
.menu-btn{
    width: 20%;
    height: 20px;
    color: white;
    font-size: 23px;
    cursor: pointer;
    text-align: right;
    padding: 10px;
    display: none; 
}
/* home section */
section{
    padding: 100px 0;
}
.home{
    display:flex;
    height: 100vh;
    min-height: 500px;
    color: white;
    background-image: url(..//img/wp3422198.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 5s;
    animation-name: animate;
    animation-direction: alternate-reverse;
    animation-duration:30s ;
    animation-fill-mode:forwards ;
    animation-iteration-count:infinite ;
    animation-play-state: running;
    animation-timing-function:ease-in-out ;
}
@keyframes animate{
0%{
    background-image: url(..//img/wp3422198.jpg);
}
20%{
    background-image: url(..//img/W5P9jg.jpg);
}
40%{
    background-image: url(..//img/6257508.jpg);
}
60%{
    background-image: url(..//img/photo-1506901437675-cde80ff9c746.jpg);
}
80%{
    background-image: url(..//img/52582632-beautiful-young-lady-with-make-up-face-close-up-of-an-attractive-girl-of-european-appearance-on-dark.jpg);
}
100%{
    background-image: url(..//img/pexels-photo-4491469.jpeg);
}
}
.home .homebox{
    margin:auto 0 auto 40px;
} 
.home .home-content .text-1{
    font-size: 27px;
    text-transform: capitalize;
}
.home .home-content .text-2{
    font-size: 65px;
    font-weight: 600;
    margin-left: -3px;
    text-transform: capitalize;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
    text-transform: capitalize;
}
.home .home-content .text-3 span{
    color: crimson;
    font-weight: 500;
}
.home .home-content a{
    display: inline-block;
    background: crimson;
    color: white;
    font-size: 20px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
    text-transform: capitalize;
    text-decoration: none;
}
.home .home-content a:hover{
    color: crimson;
    background: none;
}
.home .home-content .icon{
    height: 50px;
    margin: 10px;
    text-align:left;
}
.home .home-content .icon i{
    font-size: 25px;
    padding: 10px 10px;
}
.home .home-content .icon i:hover{
    border-radius: 50%;
    background: crimson;
    transition: all 0.3s linear;
}
.home .bubble {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    bottom: -100px;
}
.home .bubble img{
    width: 20px;
    border-radius: 50%;
    animation: bubble 7s infinite;
}
@keyframes bubble{
0%{
    transform: translateY(0);
    opacity: 0;
}   
50%{
    opacity: 1;
}
70%{
    opacity: 1;
}
100%{
    transform: translateY(-80vh);
    opacity: 0;
}
}
.bubble img:nth-child(1){
    animation-delay: 2s;
    width: 25px;
}
.bubble img:nth-child(2){
    animation-delay: 2s;
}
.bubble img:nth-child(3){
    animation-delay: 3s;
    width: 25px;
}
.bubble img:nth-child(4){
    animation-delay: 4.5s;
}
.bubble img:nth-child(5){
    animation-delay: 3s;
}
.bubble img:nth-child(6){
    animation-delay: 6s;
    width: 20px;
}
.bubble img:nth-child(7){
    animation-delay: 7s;
    width: 35px;
}
/* about section */
.about{
    border: 2px solid red;
    height: 100vh;
}
.about .abouttext{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    color: crimson;
}
.about .abouttext h1{
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    text-transform: capitalize;
}
.about .aboutcontainer{
    width: 80%;
    margin: auto;
}
.about .aboutcontainer .aboutrow{
    width: 100%;
    clear: both;
    margin-top: 50px;
}
.about .aboutcontainer .aboutrow .aboutbox{
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding: 10px;
}  
.about .aboutcontainer .aboutrow .aboutbox .aboutsubbox{
    text-align: center;
    overflow: auto;
    padding: 10px;
    border-radius: 6px;
} 
.about .aboutcontainer .aboutrow .aboutbox .aboutsubbox img{
    width: 100%;
    height: 350px;
}
.about .aboutcontainer .aboutrow .aboutbox .aboutsubbox p{
    font-size: 18px;
    text-align: justify;
    font-weight: 500;
    padding: 10px;
    color: gray;
    text-transform: capitalize;
}
.about .aboutcontainer .aboutrow .aboutbox .aboutsubbox .about-left{
    width: 45%;
    float: left;
    padding: 5px;
    margin: 5px;
    text-transform: capitalize;
    color: gray;
}
.about .aboutcontainer .aboutrow .aboutbox .aboutsubbox .about-left h6{
    font-size: 16px;
    text-align: left;
    padding:10px;
}
.about .aboutcontainer .aboutrow .aboutbox .aboutsubbox .about-right{
    width: 45%;
    float: left;
    padding: 5px;
    text-transform: capitalize;
    color: gray;
}
.about .aboutcontainer .aboutrow .aboutbox .aboutsubbox .about-right h6{
    font-size: 16px;
    padding: 10px;
    text-align: left;
}




/* responsive */
@media screen and (max-width:426px){
header{
  display:inline-block;
  height: 50px;
}
header .logo{
    display:inline-block;
    padding: 10px;
}
header nav{
    display: none;
}
.menu-btn{
    z-index: 999;
    display: inline;
    float: right;
    margin: 10px;
}
.home .home-content .text-1{
    margin-top: 92px;
}
.home .home-content .text-2{
    font-size: 52px;
    margin: 5px 0;
}
.home .home-content .text-3{
    font-size: 25px;
    margin: 5px 0;
}
.about .aboutcontainer .aboutrow{
    margin-top: 18px;
}
.about .aboutcontainer .aboutrow .aboutbox{
    width: 100%;
    padding:0 10px;
}
.about .aboutcontainer .aboutrow .aboutbox .aboutsubbox{
    padding: 0 10px;
} 
.about .aboutcontainer .aboutrow .aboutbox .aboutsubbox img{
    height: 183px;
}
.about .aboutcontainer .aboutrow .aboutbox .aboutsubbox p{
    padding:8px;
    font-size: 14px;
}
.about .aboutcontainer .aboutrow .aboutbox .aboutsubbox .about-left{
    width: 100%;
    margin: 5px;
}
.about .aboutcontainer .aboutrow .aboutbox .aboutsubbox .about-left h6{
    font-size: 15px;
    padding: 5px;
}
.about .aboutcontainer .aboutrow .aboutbox .aboutsubbox .about-right{
    width: 100%;
    margin:5px;
    box-sizing: border-box;
}
.about .aboutcontainer .aboutrow .aboutbox .aboutsubbox .about-right h6{
    font-size: 15px;
    padding: 5px;
}
}



@media screen and (max-width:768px){
/* header{
      display:inline-block;
} */
header .logo{
 padding: 10px;
}
header nav ul li{
    padding: 0 5px;
 }
}





