*{
    margin: 0;
    padding: 0;
}
header{ 
    background: crimson;
    padding: 10px;
    color: white;
    position: fixed;
    width: 100%;
    display: inline-flex;
    justify-content: space-evenly;
}
header .logo{
    text-transform: capitalize;
    /* display:inline-block; */
    padding:10px 50px;
}
header .logo h1{
    font-size: 35px;
    font-weight: 900;
    color: white;
}
header nav{
    float: right;
    padding: 10px 40px;
    text-transform: capitalize;
}
header nav ul{
    list-style-type: none;
    font-size: 20px;
}
header nav ul li{
   display: inline-block;
   padding: 0 20px;
}
header nav ul li a{
    text-decoration: none;
    color: white;
}
header nav ul li a:hover{
    color: black;
    transition: all 0.3s ease;
}
.menu-btn{
    width: 20%;
    height: 20px;
    color: white;
    font-size: 23px;
    cursor: pointer;
    text-align: right;
    padding: 10px;
    display: none; 
}
/* home section */
section{
    padding: 100px 0;
}
.home{
    display:flex;
    height: 100vh;
    min-height: 500px;
    color: white;
    background-image: url(..//img/wp3422198.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.home .homebox{
    margin:auto 0 auto 40px;
}   
.home .home-content .text-1{
    font-size: 27px;
    text-transform: capitalize;
}
.home .home-content .text-2{
    font-size: 65px;
    font-weight: 600;
    margin-left: -3px;
    text-transform: capitalize;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
    text-transform: capitalize;
}
.home .home-content .text-3 span{
    color: crimson;
    font-weight: 500;
}
.home .home-content a{
    display: inline-block;
    background: crimson;
    color: white;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
    text-transform: capitalize;
    text-decoration: none;
}
.home .home-content a:hover{
    color: crimson;
    background: none;
}
/* about section */
.about{
    border: 2px solid red;
    height: 100vh;
}
.about h1{
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    text-transform: capitalize;
}
.about h1::before{
    content: '';
    width: 9%;
    height: 4px;
    position: absolute;
    left: -100%;
    background: brown;
}
.about h1:hover{
    transition: 1s;
    left: 0;
}
.about .aboutcontainer{
    width: 80%;
    margin: auto;
}
.about .aboutcontainer .aboutrow{
    width: 100%;
    clear: both;
    margin-top: 50px;
}
.about .aboutcontainer .aboutrow .aboutbox{
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding: 10px;
}  
.about .aboutcontainer .aboutrow .aboutbox .aboutsubbox{
    text-align: center;
    overflow: auto;
    border: 2px solid blue;
} 
.about .aboutcontainer .aboutrow .aboutbox .aboutsubbox img{
    width: 100%;
    height: 350px;
}





/* responsive */
@media screen and (max-width:426px){
header{
  display:inline-block;
  height: 50px;
}
header .logo{
    display:inline-block;
    padding: 10px;
}
header nav{
    display: none;
}
.menu-btn{
    z-index: 999;
    display: inline;
    float: right;
    margin: 10px;
}
.home .home-content .text-1{
    margin-top: 92px;
}
.home .home-content .text-2{
    font-size: 52px;
    margin: 5px 0;
}
.home .home-content .text-3{
    font-size: 25px;
    margin: 5px 0;
}
}

@media screen and (max-width:768px){
/* header{
      display:inline-block;
} */
header .logo{
 padding: 10px;
}
header nav ul li{
    padding: 0 5px;
 }
}